<mat-toolbar>
    <button mat-icon-button [routerLink]="['/add']">
        <mat-icon>
            reply
        </mat-icon>
    </button>
    <div class="logocontainer">
        <img class="logo" src="../../assets/logo.png" alt="">
    </div>
</mat-toolbar>

<section>
    <mat-grid-list cols="1" rowHeight="500px">
        <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">

        <form action="">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput name="nombre" id="">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Apellido</mat-label>
                <input matInput name="apellido" id="">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput name="email" id="">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input matInput name="password" id="" type="password">
            </mat-form-field>

            <div class="containerButton"> 
                <button mat-raised-button class="agregar" 
                matTooltip="Agregar un nuevo usuario"
                matTooltipHideDelay="100"
                (click)="submitProduct ()">
                    Agregar
                </button>
            </div>
        </form>

        </mat-grid-tile>
    </mat-grid-list>
</section>