<mat-toolbar>
    <button mat-icon-button [routerLink]="['/add']">
        <mat-icon>
            reply
        </mat-icon>
    </button>
    <div class="logocontainer">
        <img class="logo" src="../../assets/logo.png" alt="">
    </div>
</mat-toolbar>

<section>
    <mat-grid-list cols="1" rowHeight="500px">
        <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">

        <form [formGroup]="form">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput name="nombre" id="" [(ngModel)]="product.producto" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Categoria</mat-label>
                <input matInput name="categoria" id="" [(ngModel)]="product.category" formControlName="category">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Descripción</mat-label>
                <input matInput name="descripcion" id="" [(ngModel)]="product.description" formControlName="description">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Url de la imagen</mat-label>
                <input matInput name="imagen" id="" [(ngModel)]="product.urlImg" formControlName="urlImg">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Precio</mat-label>
                <input matInput name="precio" id="" type="number" [(ngModel)]="product.price" formControlName="price">
            </mat-form-field>

            <div class="containerButton"> 
                <button mat-raised-button class="agregar" 
                matTooltip="Agregar un nuevo producto"
                matTooltipHideDelay="100"
                (click)="saveProduct()">
                    Agregar
                </button>
            </div>
        </form>

        </mat-grid-tile>
    </mat-grid-list>
</section>