<mat-toolbar>
    <span>PetStore</span>
    <div>
        <img src="../../assets/logo.png" alt="">
    </div>
</mat-toolbar>


<section>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Animales">
            <section>
                <mat-grid-list cols="3" rowHeight="150px">
                    <mat-grid-tile
                    [colspan]="1"
                    [rowspan]="1">
                    </mat-grid-tile>
                    <mat-grid-tile
                    [colspan]="1"
                    [rowspan]="1">  
                        <button mat-fab
                            class="buttonAdd"
                            matTooltip="Agregar"
                            matTooltipHideDelay="100"
                            [routerLink]="['/add']">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </section>
            <section>
                <div class="container">
                    <div class="row col-xl-12">
                            <mat-card
                            class="col-xl-6"
                            *ngFor="let animal of animals">
                                <mat-card-header>
                                    <div class="crop-image">
                                        <img mat-card-image src="{{animal.urlImg}}"  alt="">
                                    </div>
                                </mat-card-header>
                                <mat-card-content>
                                    <mat-card-title>
                                        {{animal.nameA}}
                                    </mat-card-title>
                                    <mat-card-subtitle>
                                        {{animal.description}}
                                    </mat-card-subtitle>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-icon-button
                                        matTooltip="Editar"
                                        matTooltipHideDelay="100"
                                        [routerLink]="['/edit-animal']"
                                    >
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button 
                                        color="warn"
                                        matTooltip="Eliminar"
                                        matTooltipHideDelay="100"
                                        
                                    >
                                        <mat-icon>
                                            delete
                                        </mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                    </div>
                </div>
            </section>
        </mat-tab>


        <mat-tab label="Productos">
            <section>
                <mat-grid-list cols="3" rowHeight="150px">
                    <mat-grid-tile
                    [colspan]="1"
                    [rowspan]="1">
                    </mat-grid-tile>
                    <mat-grid-tile
                    [colspan]="1"
                    [rowspan]="1">  
                        <button mat-fab
                            class="buttonAdd"
                            matTooltip="Agregar"
                            matTooltipHideDelay="100"
                            [routerLink]="['/add']">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </section>
            <section>
                <div class="container">
                    <div class="row col-xl-12">
                        <mat-card 
                        class="col-xl-6"
                        *ngFor="let product of products">
                            <mat-card-header>
                                <div class="crop-image">
                                    <img mat-card-image src="{{product.urlImg}}"  alt="">
                                </div>
                            </mat-card-header>
                            <mat-card-content>
                                <mat-card-title>
                                    {{product.producto}}
                                </mat-card-title>
                                <mat-card-subtitle>
                                    {{product.price}}
                                </mat-card-subtitle>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-icon-button
                                    matTooltip="Editar"
                                    matTooltipHideDelay="100"
                                    [routerLink]="['/edit-product', product.producto]"
                                >
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button 
                                    color="warn"
                                    matTooltip="Eliminar"
                                    matTooltipHideDelay="100"
                                >
                                    <mat-icon>
                                        delete
                                    </mat-icon>
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </section>
        </mat-tab>


        <mat-tab label="Usuarios">
            <section>
                <mat-grid-list cols="3" rowHeight="150px">
                    <mat-grid-tile
                    [colspan]="1"
                    [rowspan]="1">
                    </mat-grid-tile>
                    <mat-grid-tile
                    [colspan]="1"
                    [rowspan]="1">  
                        <button mat-fab
                            class="buttonAdd"
                            matTooltip="Agregar"
                            matTooltipHideDelay="100"
                            [routerLink]="['/add']">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </section>
            <section>
                <div class="container">
                    <div class="row col-xl-12">
                        <mat-card 
                        class="col-xl-6"
                        *ngFor="let user of users">
                            <mat-card-content>
                                <mat-card-header>
                                    <div class="crop-image">
                                        <img mat-card-image src="../../assets/newUser.svg"  alt="">
                                    </div>
                                </mat-card-header>
                                <mat-card-title>
                                    {{user.nameU}}
                                </mat-card-title>
                                <mat-card-subtitle>
                                    {{user.lastName}}
                                </mat-card-subtitle>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-icon-button
                                    matTooltip="Editar"
                                    matTooltipHideDelay="100"
                                    [routerLink]="['/edit-user/', user.id]"
                                >
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button 
                                    color="warn"
                                    matTooltip="Eliminar"
                                    matTooltipHideDelay="100"
                                    (click)="deleteUser(user.id)"
                                >
                                    <mat-icon>
                                        delete
                                    </mat-icon>
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </section>
        </mat-tab>
      </mat-tab-group>
</section>

